<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link href="{{ $root }}/public/admin/css/admin_login.css" type="text/css" rel="stylesheet"/>
</head>
<body>

    <div style="text-align: center;font-size:12px;margin-top:30px;">
        <span style="color:red;">{{ $message }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:red;" href="javascript:void(0);" onclick="jumpurl()">返回</a>
        <span id='jump'></span>
    </div>
    <script type="text/javascript">
        var t = 3;
        function showTime(){
            t -= 1;
            document.getElementById('jump').innerHTML= t + '秒后自动跳转!';
            if(t==0){
                jumpurl();
            }
            setTimeout("showTime()",1000);
        }
        showTime();
        function jumpurl(){
                window.history.back(-1);
        }
    </script>

</body>
</html>

