<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加广告</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/show_product.css" />
<style type="text/css">
.pro_list table tr td{border:1px solid #bbb;text-align:center;height:30px;
}
</style>
</head>
<body>
<!------------- go 右边主体层 ------------------>
<div class="right_content">
	<!---go 标题------>
    <div class="user_nav">
        <span class="your_pos">当前位置:</span>
        <span>>&nbsp;添加广告</span>
    </div>
    <!---end 标题------>
    <!---go 列表层------>
    <div class="con_manager" id="con_manager">
        <div class="show_product">
        	<div class="search_box">
                 <div class="pro_list">
                 	<form action="" method="post">
                        <table>
                            <tr><td class="td_110">广告名称:</td><td class="left"><input class="width_200" type="text" /></td></tr>             
                            <tr><td>提示文字:</td><td class="left"><input class="width_200" type="text" /></td></tr>
                            <tr><td>上传图片:</td><td class="left"><input type="file" value="浏览" /></td></tr>
                            <tr><td><input class="short_bt" type="submit" value="提交" /></td><td></td></tr>
                        </table>
                    </form>
            	</div>
            </div>
        </div>
    </div>
    <!---end 列表层----->
</div>
<!------------- end 右边主体层 ------------------>
</body>
</html>