<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>收货地址详细信息</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/product_detail.css" />
</head>
<body>
<!--go 详细信息层 -->
    <div class="product_detail">
        <table>
            <tr><td colspan="2" class="center">收货地址详细信息</td></tr>
            <tr><td class="td_100">收货人姓名:</td><td>李强</td></tr>
            <tr><td>收货人地址:</td><td>四川省成都市青羊区宁夏街111号</td></tr>
            <tr><td>联系方式:</td><td>15875874821</td></tr>
            <tr><td>所在城市:</td><td>成都市</td></tr>
            <tr><td>所在区/县:</td><td>青羊区</td></tr>
            <tr><td>邮政编码:</td><td>610041</td></tr>
        </table>
</div>
<!--end 详细信息层 -->
</body>
</html>
