<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>购物车详情</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/product_detail.css" />
</head>
<body>
<!--go 详细信息层 -->
    <div class="product_detail">
        <table>
            <tr><td colspan="2" class="center">购物车详情</td></tr>
            <tr><td>用户名:</td><td>Jim lee</td></tr>
            <tr><td>订单编号:</td><td>SV234234323</td></tr>
            <tr><td>产品名称:</td><td>眼保仪</td></tr>
            <tr><td>订单状态:</td><td>等待付款</td></tr>
            <tr><td>收货人:</td><td>李强</td></tr>
            <tr><td>产品图片:</td><td><img src="images/product_img/eyetest1.jpg" /></td></tr>
            <tr><td>付款方式：</td><td>支付宝</td></tr> 
            <tr><td>订单金额:</td><td>250.00</td></tr> 
        </table>
</div>
<!--end 详细信息层 -->
</body>
</html>
