<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>加盟留言信息编辑页</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/product_detail.css" />
</head>
<body>
<!--go 修改信息层 -->
<div class="product_edit product_detail">
	<form action="" method="post">
        <table>
            <tr><td colspan="2" class="center">加盟留言信息编辑</td></tr>
            <tr><td>留言人姓名:</td><td><input class="width_200" type="text" value="小刚" /></td></tr>
            <tr><td>留言类型:</td><td><input class="width_200" type="text" value="招商留言" /></td></tr>
            <tr><td>留言内容:</td><td><textarea>希望加入</textarea></td></tr>
            <tr><td>留言人email:</td><td><input class="width_200" type="text" value="123@qq.com" /></td></tr>
            <tr><td>留言人手机:</td><td><input class="width_200" type="text" value="185254785241" /></td></tr>
            <tr><td>留言人电话:</td><td><input class="width_200" type="text" value="028-85248758" /></td></tr>
            <tr><td>留言人地址:</td><td><input class="width_200" type="text" value="成都市武侯区人民南路四段20号" /></td></tr>
            <tr><td>留言日期:</td><td><input class="width_200" type="text" value="2014-06-06" /></td></tr>
            <tr><td><input class="short_bt" type="submit" value="提交"/></td><td></td></tr>
        </table> 
    </form>
</div>
<!--end 修改详细层 -->
</body>
</html>
