<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>在线留言详情</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/product_detail.css" />
</head>
<body>
<!--go 详细信息层 -->
    <div class="product_detail">
        <table>
            <tr><td colspan="2" class="center">在线留言详情</td></tr>
            <tr><td>留言人姓名:</td><td>李强</td></tr>
            <tr><td>留言内容:</td><td><textarea>留言具体内容详情</textarea></td></tr>
            <tr><td>留言人电话:</td><td>158745285474</td></tr>
            <tr><td>留言人qq:</td><td>215241879</td></tr>
        </table>
</div>
<!--end 详细信息层 -->
</body>
</html>
