<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>产品详细信息</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/product_detail.css" />
</head>
<body style="overflow:auto;">
<!--go 详细信息层 -->
    <div class="product_detail">
        <table>
            <tr><td colspan="2" class="center">产品详细信息</td></tr>
            <tr><td>商品编号:</td><td>0808008</td></tr>
            <tr><td>商品名称:</td><td>OO眼保仪</td></tr>
            <tr><td>商品总数:</td><td>1000</td></tr>
            <tr><td>销量:</td><td>200</td></tr>
            <tr><td>库存:</td><td>800</td></tr>
            <tr><td>图片:</td><td><img src="images/product_img/eyetest1.jpg" /></td></tr>
            <tr><td>原价:</td><td>250.00</td></tr>
            <tr><td>促销价:</td><td>200.00</td></tr>
            <tr><td>商品浏览次数:</td><td>53</td></tr>
            <tr><td>颜色:</td><td>黑色</td></tr>
            <tr><td>型号:</td><td>SU-002</td></tr>
            <tr><td>产品介绍:</td><td><textarea>
            产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍
            产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍
            产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍
            产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍
            </textarea></td></tr>
            <tr><td>介绍视频:</td><td><video src="http://www.tudou.com/programs/view/44jtFFlHkIE">您的浏览器不支持 video 标签。</video></td></tr> 
        </table>
</div>
<!--end 详细信息层 -->
</body>
</html>
