<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>商家相关信息</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/show_product.css" />
</head>
<body>
<!------------- go 右边主体层 ------------------>
<div class="right_content">
	<!---go 标题------>
    <div class="user_nav">
        <span class="your_pos">当前位置:</span>
        <span>>&nbsp;商家详细信息</span>
    </div>
    <!---end 标题------>
    <!---go 列表层------>
    <div class="con_manager" id="con_manager">
        <div class="show_product">
        	<div class="search_box">
            	<!---go 查询层------>
                <div class="pro_search">
                	<div class="pro_brand">
                        商家姓名&nbsp;<input type="text" /> 
                    </div>
                    <div class="pro_type">
                        管辖区域&nbsp;
                        <select id="">
                            <option>-----请选择-----</option>
                            <option>北京</option>
                            <option>上海</option>
                        </select>
                    </div>
                    <div><input class="short_bt" type="submit" value="查询"/></div>
                </div>
                 <!---end 查询层------>    
                 <div class="pro_list">
                    <table>
                        <tr class="tr_title"><td>商家姓名</td><td>联系方式</td><td>管辖区域</td><td>邮箱</td><td>地址</td><td>加入日期</td><td>qq</td>
                        <td class="td_110">操作</td></tr>
                       
                        <script type="text/javascript">
						for (var i=0;i<15;i++)
						{
							if(i%2==1)
							{
								document.write('<tr style="background:#DDD;"><td>李得刚</td><td>18528475682</td><td>成都 上海 北京</td><td>123@qq.com</td><td>四川省成都市青羊区宁夏街22号</td>'+
							'<td>2013-02-01</td><td>27584576</td>'+
                        '<td><a  href="seller_detail.html" >详细</a><a href="seller_edit.html" >编辑</a><a class="p_del" href="#">删除</a></td></tr>');	
							}
							else
							{
								document.write('<tr><td>李得刚</td><td>18528475682</td><td>成都 上海 北京</td><td>123@qq.com</td><td>四川省成都市青羊区宁夏街22号</td>'+
							'<td>2013-02-01</td><td>27584576</td>'+
                        '<td><a  href="seller_detail.html" >详细</a><a href="seller_edit.html" >编辑</a><a class="p_del" href="#">删除</a></td></tr>');	
							}	
						}
						</script>
                        <tr><td colspan="10" class="page_search"><span>分页查询</span>
                        <span><select id=""><option>1</option><option>2</option><option>3</option></select></span>
                        <span><a href="#">前往</a></span></td></tr>
                    </table>
            	</div>
            </div>
        </div>
    </div>
    <!---end 列表层----->
</div>
<!------------- end 右边主体层 ------------------>
</body>
</html>

