<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>店铺编辑页</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/product_detail.css" />
<link rel="stylesheet" type="text/css" href="css/show_store.css" />
</head>
<body>
<!-----------go 店铺编辑层--------------------------->
<div class="store_detail product_detail">
    <form action="" method="post">
        <table>
            <tr><td colspan="2" class="center">店铺信息编辑</td></tr>
            <tr><td>店铺名称:</td><td><input class="width_300" type="text" value="福州国信大利嘉A1－107店" /></td></tr>
            <tr><td>店铺地址:</td><td><input class="width_300" type="text" value="福州市台江区五一中路169号大利嘉城A1-107号" /></td></tr>
            <tr><td>联系电话:</td><td><input class="width_300" type="text" value="18025478296" /></td></tr>
            <tr><td>店铺照片:</td><td><img src="images/store_img/store1.jpg" /><a href="#">删除</a></td></tr>
            <tr><td>上传店铺照片:</td><td><input class="file" type="file" value="浏览" /></td></tr>
            <tr><td>地理位置:</td><td>
                <span>省份<select><option>四川省</option><option>河北省</option></select></span>
                <span>城市<select><option>成都市</option><option>北京市</option></select></span>
                <span>区/县<select><option>青羊区</option><option>朝阳区</option></select></span>
            </td></tr>
            <!--
            <tr><td>预约人数:</td><td>52人</td></tr>
            <tr><td>评论条数:</td><td>95条评论</td></tr>
            -->
            <tr><td>预约须知:</td><td><textarea>
            预约须知预约须知预约须知预约须知预约须知预约须知预约须知预约须知
            预约须知预约须知预约须知预约须知预约须知预约须知预约须知预约须知
            预约须知预约须知预约须知预约须知预约须知预约须知预约须知预约须知
            预约须知预约须知预约须知预约须知预约须知预约须知预约须知预约须知
            </textarea></td></tr>
            
            <tr><td>店铺简介:</td><td><textarea>
            此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介
            此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介
            此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介
            此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介此店铺简介
            </textarea></td></tr>
            <tr><td><input class="short_bt" type="submit" value="提交"/></td><td></td></tr>
        </table>
    </form>
</div>
<!-----------end 店铺编辑层--------------------------->
</body>
</html>
